{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reciprocal Learning</title>
<link rel="stylesheet" href="{% static 'activity/style.css' %}">
</head>

<body>

    <aside class="sidebar">
        <img src="{% static 'activity/generic-avatar0.png' %}" alt="Account Icon" class="account-icon">
        <div class="account-text">Account</div>
        <a href="{% url 'logout' %}">
           <button class="back-button">Logout</button>
        </a>

    </aside>

    <main class="main-content">
        <h1>Classe 1 > Scelta attività</h1>

        <section class="class-choice">
            <form action="{% url 'create_class' %}" method="GET" style="display: inline">
            {% csrf_token %}
            <input type="hidden" name="group_id" value="{{ group_id }}">
            <button type="submit" style="all: unset; width: 100%;">
            <div class="class-card new-class">
                <img src="{% static 'activity/icon0.png' %}" alt="New Class Icon" class="class-image">
                <div class="class-name">{% if role == "2" %}Aggiungi e visualizza membri{% else %} Visualizza membri {% endif %}</div>
            </div>
            </button>
            </form>

            {% if role == "2" %}
            <form action="{% url 'new_activity' %}" method="GET" style="display:inline;">
               {% csrf_token %}
               <input type="hidden" name="group_id" value="{{ group_id }}">
               <button type="submit" style="all: unset; width: 100%;">
                  <div class="class-card existing-class">
                     <img src="{% static 'activity/icon0.png' %}" alt="Class 1 Icon" class="class-image">
                     <div class="class-name">Nuova attività</div>
                  </div>
               </button>
            </form>
            {% endif %}

{% for activity in activities %}
<form action="{% if role == "2" %}{% url 'new_activity' %}{% else %}{% url 'chat' %}{% endif %}" method="GET" style="display:inline;">
    {% csrf_token %}
    <input type="hidden" name="activity_id" value="{{ activity.id }}">
    <input type="hidden" name="group_id" value="{{ group_id }}">
    <button type="submit" style="all: unset; width: 100%;">
        <div class="class-card existing-class">
            <img src="{% static 'activity/image0.png' %}" alt="Activity Icon" class="class-image">
            <div class="class-name">{{ activity.name }}</div>
        </div>
    </button>
</form>
{% endfor %}
        </section>
    </main>

</body>
</html>
