{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reciprocal Teaching</title>
<link rel="stylesheet" href="{% static 'activity/style.css' %}">
</head>

<body>

    <aside class="sidebar">
        <img src="{% static 'activity/generic-avatar0.png' %}" alt="Account Icon" class="account-icon">
        <div class="account-text">Account</div>
        <a href="{% url 'logout' %}">
           <button class="back-button">Logout</button>
        </a>
    </aside>

    <main class="main-content">
        <h1>Scelta classe</h1>

        <section class="class-choice">
            <a href="{% url 'create_class' %}">
            <div class="class-card new-class">
                <img src="{% static 'activity/icon0.png' %}" alt="New Class Icon" class="class-image">
                <div class="class-name">Nuova classe</div>
            </div>
            </a>
{% for group in groups %}
<form action="{% url 'activity' %}" method="POST" style="display:inline;">
    {% csrf_token %}
    <input type="hidden" name="group_id" value="{{ group.id }}">
    <button type="submit" style="all: unset; width: 100%;">
        <div class="class-card existing-class">
            <img src="{% static 'activity/image0.png' %}" alt="Class 1 Icon" class="class-image">
            <div class="class-name">{{ group.name }}</div>
        </div>
    </button>
</form>
{% endfor %}
        </section>
    </main>

</body>
</html>
