{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reciprocal Learning</title>
    <link rel="stylesheet" href="{% static 'activity/style.css' %}">
</head>

<body class="members">

    <aside class="sidebar-members">
        <img src="{% static 'activity/generic-avatar0.png' %}" alt="Account Icon" class="account-icon-members">
        <div class="account-text-members">Account</div>
        <a href="{% url 'logout' %}">
           <button class="back-button-members">Logout</button>
        </a>

    </aside>

    <main class="main-content-members">
        <h1 class="members">Classe 1 <span class="breadcrumb-members">&gt;</span> Membri</h1>

        <form action="{% url 'create_class' %}" method="POST">
           {% csrf_token %}
           {{ form.as_p }}

           {% if users %}
           <div class="list-members">
           {% for username in users %}
            <div class="list-item-members">{{ username.0 }}, {{ username.1 }}</div>
           {% endfor %}
           </div>
           {% endif %}

           {% if not group_id %}
           <button class="back-button-members">{% if role == "2" %}Crea classe{% else %}Entra nella classe{% endif %}</button>
           {% elif role == "2" %}
           <button class="back-button-members">Salva</button>
           {% endif %}
        </form>

        <a href="{% url 'index' %}">
            <button class="button-secondary-members">Annulla</button>
        </a>
    </main>

</body>
</html>


