{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reciprocal Learning</title>
    <link rel="stylesheet" href="{% static 'activity/base.css' %}">
    <link rel="stylesheet" href="{% static 'activity/style.css' %}">
</head>

<body>

    <aside class="sidebar">
        <img src="{% static 'activity/generic-avatar0.png' %}" alt="Account Icon" class="account-icon">
        <div class="account-text">Account</div>
        <a href="{% url 'logout' %}">
           <button class="back-button">Logout</button>
        </a>

    </aside>

    <main class="main-content">
        <h1>{{ group_name }} / Membri</h1>

        <form action="{% url 'create_class' %}" method="POST">
           {% csrf_token %}
           {{ form.as_p }}

           {% if users %}
           <div class="list">
           <!--{% for username in users %}
            <div class="list-item">{{ username.0 }}, {{ username.1 }}</div>
           {% endfor %}-->
               {% for username in users %}
                  <div class="list-item">
                    <div class="list-item-left">
                      {{ username.1 }}, {{ username.2 }}
                    </div>

                    {% if role == "2" and username.2 != "Insegnante" or role == "1" and username.1 == requester_username %}
                      <div class="list-item-right">
                        <a href="{% url 'student_chat' username.0 group_id %}" class="btn-student-chat">
                          Visualizza chat studente
                        </a>
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
           </div>
           {% endif %}

           {% if not group_id %}
           <button class="back-button">{% if role == "2" %}Crea classe{% else %}Entra nella classe{% endif %}</button>   
           {% elif role == "2" %}
           <button class="back-button">Salva</button>
           {% endif %}
        </form>

        <a href="{% url 'index' %}">
            <button class="button-secondary">Annulla</button>
        </a>
    </main>

</body>
</html>
